registry = https://nxs.ikoabo.com/repository/node/
init.author.name = Reinier Millo Sánchez
init.author.email = millo@ikoabo.com
email=millo@ikoabo.com
always-auth=true
_auth=YW5vbnltb3VzOmFub255bW91cw==
